.ressources-page
    @include width-height(100%, auto)
    @include flexbox(column, flex-start, center)
    background-color: rgb(240,240,240)
    padding: 9rem 2rem 5rem 2rem

    // TITLE OF THE PAGE
    .ressources-page-title
        @include width-height(100%,auto)
        @include set-font($lightBlack, "Poppins", 2.5rem ,400, normal)
        padding: 2rem 0 0 0
        text-align: start

    // DASHBOARD NAV
    .dashboard-navigation
        @include width-height(100%,100%)
        @include flexbox(row, flex-start, center, 3rem)
        transition: all 0.2s linear
        padding: 2rem 0 2rem 0
        .navbar-link
            @include set-font($lightBlack, "Poppins", 1.8rem, 400, normal)
            &:hover
                font-weight: 600

    // TABLE CONTAINER 
    .ressources-table-container
        @include width-height(100%, auto)
        background-color: white
        border-radius: 0.6rem
        box-shadow: 2px 10px 14px 2px rgba(0,0,0,0.15)
        margin-bottom: 4rem

        // TABLE TITLE
        .ressources-table-title
            @include flexbox(row, flex-start, center)
            @include set-font($white, "Poppins", 1.6rem, 400, normal)
            @include width-height(100%, 3.6rem)
            padding-left: 1rem
            background-color: $darkTextBlue
            border-radius: 0.6rem 0.6rem 0 0
        
        // THE TABLE
        .table
            @include width-height(100%,100%)
            padding: 2rem

            // TABLE HEADER ROW
            .table-header
                @include flexbox(row, space-between, center)
                // border-bottom: 0.2rem solid rgba(33,33,33,0.1)
                padding-bottom: 1rem
                margin-bottom: 1rem


                // EACH COLUMN HEADER
                .column-header
                    @include width-height(100%,100%)
                    @include set-font($lightBlack, "Poppins", 1.6rem, 600, normal)

                    // For labo table
                    &#name-header
                        width: 30%
                    &#city-header
                        width: 10%
                    &#phone-header
                        width: 20%
                    &#email-header
                        width: 25%
                    &#headcount-header
                        width: 15%
                    
                    // For employee table
                    &#emp-name-header
                        width: 15%
                    &#emp-surname-header
                        width: 15%
                    &#emp-phone-header
                        width: 15%
                    &#emp-email-header
                        width: 25%
                    &#emp-lab-header
                        width: 30%
            
            // TABLE CONTENT
            .table-content
                max-height: 60rem
                overflow-y: scroll
                // TABLE ROW
                .table-row
                    @include width-height(100%,100%)
                    @include flexbox(row, space-between, center)
                    position: relative
                    p
                        @include width-height(100%,100%)
                        @include set-font($lightBlack, "Poppins", 1.5rem, 400, normal)
                        padding: 0.8rem 0 0.8rem 0
                        border-bottom: 0.1rem solid rgba(33,33,33,0.2)

                        // For labos
                        &#name-cell
                            width: 30%
                        &#city-cell
                            width: 10%
                        &#phone-cell
                            width: 20%
                        &#email-cell
                            width: 25%
                        &#headcount-cell
                            width: 15%

                        // For employee table
                        &#emp-name-cell
                            width: 15%
                        &#emp-surname-cell
                            width: 15%
                        &#emp-phone-cell
                            width: 15%
                        &#emp-email-cell
                            width: 25%
                        &#emp-lab-cell
                            width: 30%

                        &.nan-value
                            color: red

                    .detail-icon
                        position: absolute
                        top: 50%
                        right: 1rem
                        transform: translateY(-50%)
                        @include width-height(3rem,3rem)
                        cursor: pointer

    
    